.git
.gitignore
node_modules
vendor
storage/app
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
.env
.env.*
docker-compose*.yml
Dockerfile.*
*.log
tests
README.md
resources/js/**/*.test.*

